click
scml>=0.5.0
pulp
xgboost
-e .
tensorflow; sys_platform != "darwin"
tensorflow-macos; sys_platform == "darwin"
tensorflow-metal; sys_platform == "darwin"
torch; sys_platform != "darwin"
torch==1.13.1; sys_platform == "darwin"
